body{
    background-image: url(Temp-converter-min.png);
    background-repeat: no-repeat;
    background-size:100% ;
}
.container{
    border-style: double;
    border-width: 10px;
    border-color:black;
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin: 220px;
    /* padding: 100px; */
}
.temperature{
    /* padding: 80px; */
}
.button{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    line-height: normal;

}
.name{
    font-size: larger;
}